.ballot-header {
  position: running(ballotHeader);
}

.ballot-footer {
  position: running(ballotFooter);
}

@media print {
  @page {
    size: letter portrait;
    margin: 0.675in 0.3in 0.96in;

    @top-center {
      content: element(ballotHeader);
    }

    @bottom-center {
      content: element(ballotFooter);
    }
  }
}
